apiVersion: apps/v1
kind: Deployment
metadata:
  name: ibm-catalog-ui-operator
  labels:
      name: ibm-catalog-ui-operator
      app.kubernetes.io/instance: catalog-ui
      app.kubernetes.io/managed-by: cataloguis.operator.ibm.com
      app.kubernetes.io/name: cataloguis.operator.ibm.com
spec:
  # progressDeadlineSeconds: 1200
  replicas: 1
  selector:
    matchLabels:
      name: ibm-catalog-ui-operator
  template:
    metadata:
      labels:
        name: ibm-catalog-ui-operator
        app.kubernetes.io/instance: cataloguis.operator.ibm.com
        app.kubernetes.io/managed-by: cataloguis.operator.ibm.com
        app.kubernetes.io/name: cataloguis.operator.ibm.com
      annotations:
        productName: IBM Cloud Platform Common Services
        productID: "068a62892a1e4db39641342e592daa25"
        productVersion: "3.4.0"
        productMetric: FREE
    spec:
      serviceAccountName: ibm-catalog-ui-operator
      hostNetwork: false
      hostPID: false
      hostIPC: false
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/arch
                operator: In
                values:
                  - amd64
                  - ppc64le
                  - s390x
      containers:
        - name: ibm-catalog-ui-operator
          # Replace this with the built image name
          image: quay.io/opencloudio/ibm-catalog-ui-operator@sha256:fe4285de2be877a971f11c2a0b17997f24d27fb7979927020735f8b0bceeac9e
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "ibm-catalog-ui-operator"
            - name: OPERAND_CATALOG_UI_IMAGE
              value: "quay.io/opencloudio/icp-catalog-ui@sha256:10bd3c5955edd268f319fdfab5f033da86a040ca9d1bbd68c10a5505cb2ced4c"
          resources:
            limits:
              cpu: 150m
              memory: 150Mi
            requests:
              cpu: 150m
              memory: 150Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            privileged: false
            capabilities:
              drop:
              - ALL
